.header {
    background: #212121;
}

.MuiInputBase-input::placeholder {
  color: #fff !important;
}
  

/* button {
    margin: ${theme.spacing(1)};
    background-color: #2196f3;
    color: #fff;
    text-transform: none;
    &:hover {
      background-color: #1976d2;
    }
  }
  
  .leftIcon {
    margin-right: ${theme.spacing(1)};
  } */


  